aside class="col-start-3 col-end-3 row-end-1 flex-1 p-2 bg-white rounded-md shadow-md"
    h2 class="text-xl" Ranking
    section id="leaderboard" class="flex flex-col gap-2"

script src="js/leaderboard.js" 